ACCOUNT_SID=<Get this from your Twilio Console!>
AUTH_TOKEN=<Get this from your Twilio Console!>
TWILIO_PHONE=<Your Twilio phone number (to use as caller ID when forwarding texts)>
CLIENT_PHONE=<Your real life phone number, for stuff to be forwarded to you correctly>
VOICEMAIL_MESSAGE=<Your Voicemail message, e.g. `Please leave your name and contact number after the beep`>

AIRTABLE_API_KEY=<Your API token, from Airtable>
AIRTABLE_BASE_ID=<Your Airtable Base id>
AIRTABLE_COMMS_TABLE_NAME=<Communication table name>
AIRTABLE_CONTACTS_TABLE_NAME=<Contacts table name>
AIRTABLE_CONTACTS_PHONE_FIELD_NAME=<Phone field name>